<!-- Digital clock template -->
<template id="clock-template">
    <div class="clock">
        <div class="time-display">
            <span class="hours-display"></span>:
            <span class="minutes-display"></span>:
            <span class="seconds-display"></span>
        </div>
        <div class="buttons-container">
            <button class="mode-button button">Mode</button>
            <button class="increase-button button">Increase</button>
            <button class="light-button button">Light</button>
        </div>
    </div>
</template>
