<p id="add-message"><i class="fa fa-clock-o"></i>You can add as many clocks as you want!</p>
<button id="add-button">Add Clock</button>
<div id="clock-container">
    <template id="clock-template">
        <div class="clock-container">
            <div class="clock">
                <div class="timezone-wrapper">
                    <span class="timezone-text">Time-Zone</span>
                    <select class="timezone-select"></select>
                </div>
                <div class="time-display">
                    <span class="hours-display"></span>:
                    <span class="minutes-display"></span>:
                    <span class="seconds-display"></span>
                </div>
                <div class="buttons-container">
                    <button class="mode-button">Mode</button>
                    <button class="increase-button">Increase</button>
                    <button class="light-button">Light</button>
                    <button class="reset-button">Reset</button>
                    <button class="format-button">AM/PM--24H</button>
                </div>
            </div>
            <button class="delete-button">X</button>
        </div>
    </template>
</div>
