h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #3498db;
}

.watch {
    width: 200px;
    height: 200px;
    background-color: #224b8f; 
    border-radius: 50%; 
    position: relative;
    border: black solid;
  }
  
  .dial {
    width: 125px;
    height: 85px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: green solid;
  }

  .day {
    background-color: lightgray;
  }

  .night {
    background-color: #ffffff;
  }

  .dial span {
    color: black;
    font-size: 30px;
  }  
  
  .seconds {
    font-size: 15px !important
  }

  .time {
    margin-top: 25px;
    margin-left: 20px;
  }
 
  .bouton {
    width: 20px;
    height: 10px;
    background-color: #80a9d7; 
    position: absolute;
  }
  
  .bouton.mode {
    top: 50px;
    left: 185px;
    transform: rotate(65deg);
  }
  
  .bouton.increase {
    top: 150px;
    left: 180px;
    transform: rotate(-58deg);
  }
  
  .bouton.light {
    top: 150px;
    left: 00px;
    transform: rotate(58deg);
  }
  
  .bouton:hover {
    cursor: pointer;
    opacity: 0.8;
  }

/* A little bit of style */
.wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  background-color: #f2f2f2;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #3498db;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

#allClocks {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reset, #changeAmPm {
  background-color: #27ae60;
}

#rotate, #flip, #multiply, #translate {
  background-color: #e74c3c;
}

#addClockButton {
  background-color: #e74c3c;
}
