body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock-container {
    position: relative;
}

.clock {
    width: 300px;
    height: 300px;
    border: 10px solid #333; /* to add a border around the watch */
    border-radius: 50%;
    position: relative;
    background-color: #6e36ae;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Rectangle inside of which the time is displayed*/
.time-display {
    width: 200px;
    height: 100px;
    background: #000;
    color: #0f0;
    border: 3px solid #6e36ae;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
}
.blinking {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Light mode styles */
.light-on .time-display {
    background: #FBE106; /* Yellow background when light is on */
    color: #000; /* Black text when light is on */
}

.light-off .time-display {
    background: #000; /* Black background when light is off */
    color: #0f0; /* Green text when light is off */
}

.buttons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Common button style */
button {
    position: absolute;
    background-color: #F5C300;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    transform-origin: center;
}

.button:hover {
    background-color: #F5C300; /* Darker yellow on hover */
}

/* Position buttons perfectly on the circular edge of the clock */
#mode-button {
    top: 15%;
    right: 15%; /* Mirror the light button horizontally */
    transform: translate(50%, -50%) rotate(45deg); /* Diagonal top-right */
}

#increase-button {
    bottom: 15%;
    right: 15%;
    transform: translate(50%, 50%) rotate(-45deg); /* Diagonal bottom-right */
}

#light-button {
    bottom: 15%;
    left: 15%;
    transform: translate(-50%, 50%) rotate(45deg); /* Diagonal bottom-left */
}